<div class="container edit-post">
	<div class="row ">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form class="form-signin">
				<h2>You are logged in as: <b>{{author}}</b></h2>
				<label>Edit header</label>
				<input type="text" name="header" ng-model="headerArticle" class="form-control">
				<label>Edit text</label>
				<textarea "form-control" ng-model="contentArticle" class="form-control" style="height: 200px;"></textarea>
				<button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-lg btn-success pull-right" type="submit">Save post</button>
				<a href="#/" class="btn btn-lg btn-warning pull-right">Cancel</a>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>